<% content_for :title do %>
  - Biography
<% end %>

<div id="page_container" class="clear_fix">
  <div class="content_container">
    <div class="inner">
      <div class="selectors">
        <div class="selector english_selector" data-lang="english"></div>
        <div class="selector chinese_selector selected" data-lang="chinese"></div>
      </div>
      
      <div class="content">
        <div class="english hidden bio_text"><%= @bio_engligh.content.html_safe %></div>
        <div class="chinese bio_text"><%= @bio_chinese.content.html_safe %></div>
      </div>
    </div>
  </div>
  
  <%= render :partial => 'sidebar', :locals => { :sidebar => @sidebar } %>
</div>