<% content_for :title do %>
  - News / Contact
<% end %>

<div id="page_container" class="clear_fix">
  <div class="content_container">
    <div class="inner">
      <section id="articles_container">
        <h2>訊息 NEWS</h2>
        <div class="articles">
          <%= render :partial => "article", :collection => @articles %>
          <%= render :partial => 'more_btn', :locals => { :items => @articles } %>
        </div>
      </section>
      
      <section id="contact_container">
        <h2>聯絡方式 CONTACTS</h2>
        <div class="content">
          <%= @contact.content.html_safe %>
        </div>
      </section>
    </div>
  </div>
  
  <%= render :partial => 'sidebar', :locals => { :sidebar => @sidebar } %>
</div>