<% content_for :title do %>
  - Review
<% end %>

<div id="page_container" class="clear_fix">
  <div class="content_container">
    <div class="inner">
      <section id="reviews_container">
        <h2>評論文集檔案 REVIEWS in PDF</h2>
        <div class="explanation">點選標題下載 Click Title to Download the File</div>
        <div class="reviews">
          <%= render :partial => "review", :collection => @reviews %>
          <%= render :partial => 'more_btn', :locals => { :items => @reviews } %>
        </div>
      </section>
    </div>
  </div>
  
  <%= render :partial => 'sidebar', :locals => { :sidebar => @sidebar } %>
</div>