#work_caption {
  position: fixed;
  top: 250px;
  color: #333;
  background-color: #f2f2f2;
  border-top: 2px solid #000;
  border-bottom: 1px solid #aaa;
  margin: 0 0 0 14px;
  padding: 10px 8px;
}

#navigator {
  position: fixed;
  top: 200px;
  left: 50%;
  margin: 0 0 0 440px;
  border-left: 1px solid #ccc;
  
  div {
    padding: 7px;
    background-color: #f2f2f2;
    margin: 0 0 2px 0;
    min-height: 40px;
    cursor: pointer;
  }
  
  img {
    width: 46px;
  }
  
  .prev-work img {
    opacity: 0.5;
  }
  .next-work img {
    opacity: 0.5;
  }
}

#works { 
  width: 990px; 
  text-align: center; 
  list-style: none; 
  
  li {
    margin: 0 0 55px 0;
  }
}


#works_container {
  margin: 0 0 0 150px;
}

.work_items {
  margin: 120px 0 0;
}

.work_item {
  width: 138px;
  margin: 0px 0px 10px 30px;
  float: left;
  cursor: pointer;
  
  .image {
    position: relative;
  }
  
  &:hover {
    .hover_cover {
      display: block;
    }
  }
}

.hover_cover {
  position: absolute;
  top: 0px;
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #333;
  opacity: 0.8;
  
  .info {
    position: absolute;
    left: 10px;
    bottom: 10px;
    
    .title {
      
    }
  }
}

.pagination_container {
  margin-bottom: 30px;
  overflow: auto;

  .pagination {    
    .more_btn {
      cursor: pointer;
      background: url(/images/sprite.png) no-repeat;
      background-position: -151px 0px;
      width: 43px;
      height: 43px;
      float: right;

      &:hover {
        background-position: -151px -46px;
        text-decoration: underline;
      }
    }
}
}